<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">
		<style>
			body {margin-top: 30px;}
		</style>

	</head>
	<body>
		<div class="container">
			<div class="col-md-6">
				<div class="alert alert-success" role="alert">
					<strong>Parabéns <%= user %>! seu Cadastro foi efetuado com sucesso.</strong>
				</div>
			</div>
			<div class="col-md-6">
				<a class="btn btn-success" href="/">Voltar</a>
			</div>
		</div>
	</body>
</html>